# Core Data Science Libraries
pandas>=2.0
numpy>=2.0

# Data Visualization
matplotlib>=3.10
seaborn>=0.13

# Machine Learning
scikit-learn>=1.9
joblib>=1.5

# Web App
streamlit>=1.59

# Development
jupyter>=1.1